
/* DEBUG */
.wrapper {
    height: 300px;
    border: 1px solid red;
}

.wrapper-spaced {
    width: 80%;
}

.row-debug {
    background-color: gray;
}

.box {
    min-height: 80px;
    background-color: green;
    border: 1px solid black;

    padding: 0 .5rem;
}

.inner-box {
    background-color: blue;
    height: 60px;
    border: 3px solid lightcoral
}